body {
  background-color: #F0F1F7;
}

a {
  font-family: Verdana;
  font-size: 12px;
}
a:link {
  text-decoration: none;
  color: blue;
}
a:visited {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: underline;
  color: red;
}
a:active {
  text-decoration: underline;
  color: green;
}

#contact_advice {
  font-family: Verdana;
  font-size: 12px;
}

#contact_form tr #text {
  font-family: Verdana;
  font-size: 11px;
  font-weight: bold;
  text-align: right;
}

#contact_form #buttons td {
  padding-top: 20px;
  text-align: center;
}
#contact_form #buttons td input {
  width: 100px;
}
#contact_form tr #content input {
  width: 300px;
}
#contact_form tr #content textarea {
  width: 300px;
  height: 200px;
}

#header #main {
  width: 100%;
}

#header #main #banner {
  width: 30%;
}

#header #main #langselect {
  width: 40%;
}

#header #main #options {
  text-align: right;
  vertical-align: middle;
  padding-right: 5px;
  width: 30%;
}

#content table {
  width: 100%;
}

#content #informetd {
  width: 50%;
}

#content #informetd span {
  font-family: Verdana;
  font-size: 12px;
  font-style: italic;
}

#content #informetd textarea {
  border: 1px solid #7F9DB9;
  width: 98%;
  font-family: Verdana;
  font-size: 12px;
}

#content #compactadotd {
  width: 50%;
  vertical-align: middle;
}

#content #compactadotd span {
  font-family: Verdana;
  font-size: 12px;
  font-style: italic;
}

#content #compactadotd textarea {
  border: 1px solid #7F9DB9;
  width: 98%;
  font-family: Verdana;
  font-size: 12px;
}

#content #informe {
  width: 100%;
  height: 300px;
}

#content #compactado {
  width: 100%;
  height: 300px;
}

.wysiwyg_dark {
  width: 98%;
  color: #7B90B8;
  border: 2px solid #000000;
  padding: 10px;
  background-color: #1F273C;
  margin-top: 4px;
  font-family: Tahoma,Helvetica;
  font-size: 13px;
}

.wysiwyg_light {
  width: 98%;
  color: #000000;
  border: 1px solid #222222;
  padding: 10px;
  background-color: #EFEFEF;
  margin-top: 4px;
  font-family: Tahoma,Helvetica;
  font-size: 13px;
}

#options table {
  width: 100%;
}
#options table #google {
  text-align: right;
  vertical-align: middle;
  margin-right: 10%;
}

#options table table {
  margin-top: 15px;
  width: 380px;
  border: 1px solid #115786;
  border-collapse: collapse;
}

#options #desc {
  width: 50%;
  text-align: right;
  background-color: #AACCEE;
}

#options #desc span {
  font-family: Verdana;
  font-weight: bold;
  font-size: 11px;
  margin-right: 4px;
}

#options #content {
  width: 50%;
  text-align: left;
  background-color: #AACCEE;
  padding: 1px;
}

#options #content select {
  width: 100%;
  text-align: center;
  font-family: Verdana;
  font-size: 12px;
}

#options #title {
  text-align: center;
  background-color: #6688AA;
  border-bottom: 1px solid #1F273C;
}

#options #title span {
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
}

#preview {
  margin-top: 20px;
}

#preview #desc {
  font-family: Verdana;
  font-size: 12px;
  font-style: italic;
}

#header #main #langselect table {
  width: 100%;
  border: 1px solid #1F273C;
  border-collapse: collapse;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15px;
}

#header #main #langselect #desc {
  width: 50%;
  text-align: right;
  background-color: #AACCEE;
}

#header #main #langselect #desc span {
  font-family: Verdana;
  font-weight: bold;
  font-size: 11px;
  margin-right: 4px;
}

#header #main #langselect #content {
  width: 50%;
  text-align: left;
  background-color: #AACCEE;
}

#header #main #langselect #content select {
  width: 100%;
  font-family: Verdana;
  text-align: center;
  font-size: 12px;
}

#header #main #langselect #title {
  width: 100%;
  text-align: center;
  background-color: #88AACC;
  border-bottom: 1px solid #1F273C;
}

#header #main #langselect #title span {
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
}
